* {
    margin: 0
}

html {
    height: 100%;
}

body {
    font-family: Arial,sans-serif;
    color: #333;
    height: 100%;
}

header {
    color: #ffffff;
    background-color: #a9a7a8;
    border-color: #e7e7e7;
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 1 auto;
}

h3 {
    font-weight: normal;
}

p {
    font-size: 18px;
}

img {
    width: 100px;
    height: 100px;
    padding: 8px;
}

button {
    font-size: 18px;
    font-family: Arial,sans-serif;
    border-radius: 25px;
    border: 2px solid;
    width: 100px;
    height: 50px;
    background-color: white;
}

footer {
    color: #ffffff;
    background-color: #a9a7a8;
    border-color: #e7e7e7;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

footer p {
    font-size: 16px;
    margin: 5px;
}

.main-container {
    display: flex;
    height: 100%;
    flex-flow: column;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto
}

.level-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px
}

.level-container div {
    display: flex;
    gap: 8px
}

.next-reset-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 8px;
}

.header-text {
    margin-left: 10px;
}

.header-title {
    font-weight: normal;
}

.scale {
    font-size: 48px;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
}

.fingering {
    text-align: center;
}

.progress-text {
    text-align: center;
    margin-bottom: 24px;
}

#level1 {
    border-color: #ffa503;
    color: #ffa503;
}

#level1.level-button-selected {
    color: white;
    background-color: #ffa503;
}

#level2 {
    border-color: #df3c31;
    color: #df3c31;
}

#level2.level-button-selected {
    color: white;
    background-color: #df3c31;
}

#level3 {
    border-color: #60255c;
    color: #60255c;
}

#level3.level-button-selected {
    color: white;
    background-color: #60255c;
}

#level4 {
    border-color: #0269c9;
    color: #0269c9;
}

#level4.level-button-selected {
    color: white;
    background-color: #0269c9;
}

#level5 {
    border-color: #088d6c;
    color: #088d6c;
}

#level5.level-button-selected {
    color: white;
    background-color: #088d6c;
}

#level6 {
    border-color: #1b1f27;
    color: #1b1f27;
}

#level6.level-button-selected {
    color: white;
    background-color: #1b1f27;
}

#level7 {
    border-color: #5e2119;
    color: #5e2119;
}

#level7.level-button-selected {
    color: white;
    background-color: #5e2119;
}

#level8 {
    border-color: #352125;
    color: #352125;
}

#level8.level-button-selected {
    color: white;
    background-color: #352125;
}


