* {
    margin: 0
}

html {
    height: 100%;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #444;
    height: 100%;
}

header {
    background-color: #f8f8f8;
    border-bottom: 1px #e7e7e7 solid;
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 1 auto;
}

p {
    font-size: 18px;
}

img {
    width: 100px;
    height: 100px;
    padding: 8px;
    padding-left: 16px;
}

button {
    font-size: 12px;
    font-family: Arial,sans-serif;
    border-radius: 20px;
    border: 2px solid;
    width: 80px;
    height: 40px;
    background-color: white;
    color: #444;
    border-color: #444;
}

@media screen and (min-width: 450px) {
button {
    font-size: 18px;
    border-radius: 25px;
    width: 100px;
    height: 50px;
}
}

footer {
    background-color: #f8f8f8;
    border-top: 1px #e7e7e7 solid;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

footer p {
    font-size: 16px;
    margin: 8px;
}

.main-container {
    display: flex;
    height: 100%;
    flex-flow: column;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto
}

.level-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px
}

.next-reset-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 8px;
}

.header-text {
    margin-left: 10px;
}

.header-title {
    font-weight: normal;
}

.header-subtitle {
    font-weight: normal;
    display: none;
}

@media screen and (min-width: 450px) {
.header-subtitle {
    display: block;
}
}

.scale {
    font-size: 40px;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
}

@media screen and (min-width: 450px) {
.scale {
    font-size: 48px;
}
}

.fingering {
    text-align: center;
}

.progress-text {
    text-align: center;
    margin-bottom: 24px;
}

.progress-bar {
    padding: 4px;
    margin: auto;
    margin-bottom: 24px;
    border-style: solid;
    border-color: black;
    border-radius: 13px;
    height: 18px;
    width: 336px; 
    border: 2px solid;
    display: none;
}

@media screen and (min-width: 450px) {
.progress-bar {
    display: block;
}
}

.progress-bar div {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    height: 100%;
    transition: width 0.4s ease-in-out;
}

.github {
    display: none;
}

@media screen and (min-width: 450px) {
.github {
    display: block;
}
}



